name: format
on:
  pull_request:
    branches: [master]
    paths:
    - '**/*.kts'
    - '**/*.kt'

jobs:
  format:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup jdk
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '25'
          distribution: 'microsoft'
      - name: setup gradle
        uses: gradle/actions/setup-gradle@v5
      - name: format
        run: ./gradlew ktfmtFormat
      - name: suggester / ktfmt
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: ktfmt
